
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
a:hover{
	text-decoration: none !important;
}
body{ 
    font-family: 'Poppins', sans-serif; 
	line-height: 2.1;
}

/* --------------------------- */

.banner video {
	top: 0;
	left: 0;
	width: 100%;
}
.blog-banner {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 800px;
}

/* index-about */
.about-block .row{
	padding: 80px 0;
}
.about-block h2,
.sub-service h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 700;
}
.about-block .text-wrap {
	padding: 15% 0 0 15%;
}
.about-block .text-wrap .btn,
.sub-service .main-title .btn{
	padding: 10px 20px;
	background-color: transparent;
	color: #f8f8f8;
	border-radius: 1px;
	overflow: hidden;
	border: 2px solid #212121;
	color: #212121;
	font-weight: 500;
	text-transform: uppercase;
	transform-style: preserve-3d;
}
.about-block .text-wrap .btn:before,
.about-block .text-wrap .btn:after,
.sub-service .main-title .btn:before,
.sub-service .main-title .btn:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: #212121;
	z-index: -1;
	transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
	transition: all .5s;
	transform-origin: center center;
	transform: scale(1,0);
}
.about-block .text-wrap .btn:hover,
.sub-service .main-title .btn:hover{
  color: white;
}
.about-block .text-wrap .btn:hover:before,
.about-block .text-wrap .btn:hover:after,
.sub-service .main-title .btn:hover:before,
.sub-service .main-title .btn:hover:after{
	transform: scale(1);
	border-radius: 0;
}
.about-block .img-right{
	padding-right: 0;
}
.about-block .img-left{
	padding-left: 0;
} 
.about-block .img-wrap {
	height: 500px;
}
.about-block .img-wrap img {
	width: 100%;
	border-radius: 80% 0 0 90%;
	height: 100%;
}
.about-block .img-left .img-wrap img {
	border-radius: 0 80% 90% 0;
}
.about-block .text-lg-right {
	right: 0;
}

/* company-quote */
.company-quote {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 500px;
}

/* index-service */
.sub-service .service-catt {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	font-size: 16px;
	letter-spacing: 1px;
}
.sub-service .main-title {
	margin-top: 20%;
}
.sub-service .service-catt .serv {
	text-align: justify;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	letter-spacing: 1px;
	border-radius: 1px;
}
.sub-service .service-catt .serv .serv-title {
	text-align: left;
	color: #f1f1f1;
	margin-top: -45px;
}
.sub-service .serv-title h5 {
	background-color: #212121;
	padding: 10px 20px;
	position: relative;
	border-radius: 0 50px 0 0;
	font-weight: 400;
}
.sub-service .service-catt .serv .serv-content {
	padding: 15px 30px;
}
.sub-service .service-catt .serv img {
	width: 100%;
}
/* footer */
.footer {
	background: #212121;
}
.footer .footer-top {
	padding: 90px 0;
}
.footer-block ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.footer-block .quick-links ul li a{
	font-family: 'Josefin' sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	padding-right: 1rem;
	color: #7d7d7d;
	font-weight: 500;
}
.footer-block .media-icons ul li a {
	font-size: 2rem;
	padding-right: 1.1rem;
	color: #7d7d7d;
}
.footer .copyright {
	text-align: center;
	bottom: 0;
	color: rgb(182, 182, 182);
	padding-bottom: 30px;
}
.footer .copyright p {
	margin-bottom: 0;
	font-weight: 500;
}

/* BLOG PAGE */
/* blog-block */
.blog-banner {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 500px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}
.dark-overlay:before {
    background: rgba(0, 0, 0, .5);
}
.blog-banner .blog-banner-content,
.contact-banner .contact-banner-content,
.notice-banner .notice-banner-content,
.service-banner .service-banner-content,
.team-banner .team-banner-content,
.program-banner .program-banner-content {
	padding-top: 12rem;
	color: #fff;
}
.blog-banner .blog-banner-content h1,
.contact-banner .contact-banner-content h1,
.service-banner .service-banner-content h1,
.notice-banner .notice-banner-content h1,
.team-banner .team-banner-content h1,
.program-banner .program-banner-content h1{
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 15px;
}
.blog-banner-content .breadcrumb-block .breadcrumb,
.contact-banner-content .breadcrumb-block .breadcrumb,
.notice-banner-content .breadcrumb-block .breadcrumb,
.service-banner-content .breadcrumb-block .breadcrumb,
.team-banner-content .breadcrumb-block .breadcrumb,
.program-banner-content .breadcrumb-block .breadcrumb {
	background: transparent;
	margin-top: 20px;
	padding: 0;
	text-transform: uppercase;
}
.blog-banner-content .breadcrumb-block .breadcrumb a,
.notice-banner-content .breadcrumb-block .breadcrumb a,
.service-banner-content .breadcrumb-block .breadcrumb a,
.team-banner-content .breadcrumb-block .breadcrumb a,
.program-banner-content .breadcrumb-block .breadcrumb a {
	color: #fff;
	font-size: 14px;
}
.blog-banner-content .breadcrumb-block .breadcrumb a:hover,
.contact-banner-content .breadcrumb-block .breadcrumb a:hover,
.notice-banner-content .breadcrumb-block .breadcrumb a:hover,
.service-banner-content .breadcrumb-block .breadcrumb a:hover,
.team-banner-content .breadcrumb-block .breadcrumb a:hover,
.program-banner-content .breadcrumb-block .breadcrumb a:hover {
	color: rgb(206, 204, 204);
	transition: all 0.4s ease-in-out;
}
.blog-block {
	padding: 120px 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #55565b;
	letter-spacing: .0625rem;
}
.blog-block .img-block {
	position: relative;
}
.blog-block img {
	width: 100%;
}
.blog-block .post-date {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
}
.post-date {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    color: #fff;
    background: #212121;
    width: 4rem;
    padding: 0.715rem 0.9rem;
    line-height: 1.3;
    font-weight: 500;
	border-radius: 0% 100% 0% 100% / 49% 0% 100% 51%;
}
.card-block .card:hover .post-date{
	visibility: visible;
    transition: all linear .3s;
	opacity: 1;
}
.blog-block .post-text-block {
	padding: 30px 20px;
	box-shadow: 0 0.1429rem 0.6429rem 0.07143rem rgb(0 0 0 / 10%);
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
	border: none;
	outline: none;
}
.card-block .card {
	border: none;
}
.blog-block .bg-gray-light {
	background: #f8f8f8;
}
.blog-block .post-text-block h2 {
	font-size: 1.063rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.post-text-block .post-link-holder a{
	display: inline-block;
    position: relative;
    padding-right: 1.429rem;
	color: #55565b !important;
}
.post-link-holder .fa {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-1rem, -50%);
    -o-transform: translate(-1rem, -50%);
    transform: translate(-1rem, -50%);
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
	margin-top: 12%;
}
.post-link-holder .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: .8rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card-block .card:hover .post-link-holder .fa{
	visibility: visible;
	opacity: 1;
	transform: translate(0.65rem, -50%);
}
.card-block .card:hover:hover .img-block img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

/* CONTACT PAGE */
/* contactbanner */
.contact-banner {
	background-color: #f8f8f8;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 400px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}
.contact-banner .breadcrumb-block .breadcrumb {
	display: inline-flex !important;
}
.contact-banner .contact-banner-content {
	text-align: center;
	color: #55565b !important;
}
.contact-banner-content .breadcrumb-block .breadcrumb a {
	color: #55565b;
	font-size: 16px;
	font-weight: 500;
}
.contact-block {
	padding: 90px 0;
}
.contact-block .contact-title h6 {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	padding-bottom: 20px;
}
.contact-content .form-control {
    border: 0.1429rem solid #f1f1f1;
    font: 1.125rem/2rem 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0 0.9375rem;
    background: none;
    letter-spacing: .2429rem;
    border-radius: 0;
    color: #55565b;
    font-weight: 400;
    height: 3.125rem;
    -webkit-box-shadow: none;
    box-shadow: none;
	margin: 20px 0;
}
::placeholder{
	text-transform: uppercase;
	font-size: 0.85rem;
	font-weight: 500;
}
.contact-content textarea.form-control {
    padding-top: 1rem;
    padding-bottom: 0.7143rem;
    min-height: 180px;
}
.contact-content .contact-form button {
	padding: 10px 20px;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 1px;
	letter-spacing: 5px;
	background-color: #212121;
	transition: all .3s linear;
}
.contact-content .contact-form button:hover{
	background-color: #3f3f3f;
	transition: all .3s linear;
}
.contact-detail .contact-detail-lists .icon-block i {
	font-size: 4rem;
	margin-bottom: 30px;
}
.contact-detail .contact-detail-lists .text-block {
	font-size: 1rem;
	font-weight: 500;
}
.contact-detail .social-media .media-title h6{
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;
}
.contact-detail .social-media .media-list {
	display: flex;
	flex-wrap: wrap;
	font-size: 2.5rem;
}
.contact-detail .social-media .media-list .media {
	margin-right: 30px;
}
.contact-detail .social-media .media-list .media a {
	color: #55565b;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .facebook:hover,
.footer .media-icons .media-list .media .facebook:hover{
	color: #1877f2;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .instagram:hover,
.footer .media-icons .media-list .media .instagram:hover{
	color: #e1306c;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .twitter:hover{
	color: #1da1f2;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .tiktok:hover{
	color: #25F4EE;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .youtube:hover,
.footer .media-icons .media-list .media .youtube:hover{
	color: #ff0000;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .messenger:hover,
.footer .media-icons .media-list .media .messenger:hover{
	color: #0084ff;
	transition: all .3s linear;
}
.contact-detail .social-media .media-list .media .whatsapp:hover,
.footer .media-icons .media-list .media .whatsapp:hover{
	color: #075e54;
	transition: all .3s linear;
}
/* map */
.mapouter{
	position:relative;
	text-align:right;
	width:100%;
	height:400px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:100%;
	height:500px;
}
.gmap_iframe {
	height:400px!important;
}

/* program */
.program-banner {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 500px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}
.program-block {
	padding: 90px 0;
}
.program-info {
	padding: 90px 0;
}
.program-info .program-title,
.program-block .program-title,
.events .program-title{
	text-align: center;
	letter-spacing: 2px;
}
.program-info .program-title h2,
.program-block .program-title h2,
.events .program-title h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
}
.program-info .program-img {
	max-height: 550px;
	overflow: hidden;
}
.program-info .program-img img {
	width: 100%;
	height: 100%;
	padding-top: 30px;
}
.program-block .program-title img,
.events .program-title img {
	padding: 20px 0;
}
.program-block .catt-block .controls {
	margin-bottom: 60px;
	text-align: center;
}
.program-block .catt-block .control {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    color: #55565b;
    transition: background 150ms;
	font-size: 1rem;
	font-weight: 500;
	border: 1px solid #3f3f3f;
	border-radius: 2px;
	outline: none;
	margin-bottom: 10px;
	background-color: #fff;
	transition: all .3s linear;
	letter-spacing: 1px;
}
.program-block .catt-block .control:hover {
    background: #3f3f3f;
	color: #f1f1f1;
	transition: all .3s linear;
}
.program-block .catt-block .mixitup-control-active {
    background: #3f3f3f;
	color: #f1f1f1;
	border: 1px solid #3f3f3f;
	outline: none;
}
.program-block .catt-block .mixitup-control-active[data-filter]:after {
    background: transparent;
}
.program-block .catt-list-block {
	text-align: center;
}
.program-block .catt-list-block .mix {
    display: inline-block;
    position: relative;
}
.mix {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}
.catt-list-block .catt-item {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.catt-list-block .catt-item .content-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.catt-list-block .catt-item:hover .content-overlay{
	opacity: 1;
}
.catt-list-block .catt-item img {
	  width: 100%;
}
.catt-list-block .catt-item .content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.catt-list-block .catt-item:hover .content-details{
	top: 50%;
	left: 50%;
	opacity: 1;
}
.catt-list-block .catt-item:hover .catt-item img {
	transform: scale(1.32);
}
.catt-list-block .catt-item .content-details h4{
	color: #fff;
	font-weight: 400;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
}
.catt-list-block .catt-item .content-details p{
	color: #fff;
	font-size: 0.8em;
}
.catt-list-block .fadeIn-bottom{
	top: 80%;
}
.events .uk-position-relative img {
	width: 100%;
	height: 100%;
}
.events .uk-light .uk-panel {
	text-align: left;
}
.events .uk-light .uk-panel h4 {
	font-size: 1rem;
	padding: 20px 0;
}
.events .uk-light .uk-panel .date2 p {
	text-transform: uppercase;
	color: #f1f1f1;
	font-weight: 400;
	letter-spacing: 1px;
	background-color: #212121;
	padding: 5px 10px;
	bottom: 0;
	font-size: .8rem;
	text-align: center;
}
.uk-light .uk-slidenav {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;
}

/* team */
.team-banner {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 500px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}
/* notice */
.notice-banner {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 500px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}

/* service */
.service-banner {
	background-image: url('http://placehold.jp/35/45464a/ffffff/1050x500.png?text=ESTER%20NEPAL');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 500px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}
.service-block {
	padding: 100px 0;
}
.service-block .service-content .service-title {
	padding: 90px 0 60px 0;
}
.service-block .service-content .service-title h2 {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 600;
}
.service-block .service-content .service-title p{
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 2px;
}
.service-block .service-content .service-item {
	padding: 30px;
	text-align: justify;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	letter-spacing: 1px;
	border-radius: 1px;
	margin: 30px 0;
}
.service-block .service-content .service-item h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	text-transform: uppercase;
}
.service-block .service-content .service-item a {
	background-color: transparent;
	border: 1px solid #212121;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #3f3f3f;
	border-radius: 1px;
	transition: all .3s linear;
	cursor: pointer;
}
.service-block .service-content .service-item a:hover {
	background-color: #212121;
	color: #f1f1f1;
	transition: all .3s linear;
}
.service-quote {
	padding: 90px 0;
	background-image: url(https://images.pexels.com/photos/3727456/pexels-photo-3727456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	overflow: hidden;
	ffilter: grayscale(100%);
}
.service-quote .quote-detail {
	text-align: center;
	color: #f8f8f8;
}
.service-quote .quote-detail p{
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 1.5px;
}
.service-quote .quote-detail h2{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 3rem;
	margin-bottom: 60px;
}
.service-quote .quote-detail a {
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #3f3f3f;
	color: #f1f1f1;
	padding: 15px 60px;
	border-radius: 1px;
}